@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.w-1440 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 125px;
    width: 1440px;
    background: #FAF4F2;
}

header{
    display: none;
}
/*------------------------------------------main-------------------------------*/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 167px;
    margin: 112px auto 0 auto;
}
main .main__content h2{
    display: none;
}
main h1 {
    width: 475px;
    color: #222;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px; /* 155% */
}

main p {
    width: 509px;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 7px 0 54px 0;
}

main svg {
    width: 240px;
    height: 48px;
}

main .buttons {
    display: flex;
    margin-top: 25px;
    gap: 30px;
}

main .buttons button:first-of-type {
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 500;
    width: 151px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background: #FF2950;
}

main .buttons button:nth-of-type(2) {
    width: 153px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-weight: 500;
}

/*-------------------goals-section------------------------------*/
.goals-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 519px;
    gap: 32px;
    border-radius: 35px;
    background: #FF7315;
    padding: 62px 76px 63px 32px;
}
.goals-section .goals-section__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.goals-section img{
    width: 430px;
    height: 329px;
}
.goals-section .goals-section__content p {
    color: #F9F9F9;
    font-style: normal;
}

.goals-section .goals-section__content p:nth-of-type(1) {
    font-size: 72px;
    font-weight: 600;
    line-height: 62px; /* 86.111% */
    margin-bottom: 16px;
}

.goals-section .goals-section__content p:nth-of-type(2) {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 150% */
    margin-bottom: 19px;
}

.goals-section .goals-section__content p:nth-of-type(3) {
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    margin-bottom: 19px;
}

.goals-section .goals-section__content p:nth-of-type(4) {
    width: 570px;
    font-size: 24px;
    font-weight: 400;
    line-height: 45px; /* 187.5% */
}

/*---------------------hire-me-section------------------------------------------*/
.hire-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire-me h2 {
    color: #222;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
    margin-bottom: 100px;
}

.hire-me__cards {
    display: flex;
    gap: 60px;
}

.hire-me__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire-me .hire-me__card .icon-background {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.10);
    position: relative;
}
.hire-me__card .icon-background .icon-communicative{
    position: absolute;
    z-index: 2;
    top: 22px;
    right: 23px;
    bottom: 24px;
    left: 24px;
}
.hire-me__card .icon-background .icon-professional{
        position: absolute;
        z-index: 2;
        top: 24px;
        right: 26px;
        bottom: 25px;
        left: 27px;
    }
.hire-me__card .icon-background .icon-collaborative{
        position: absolute;
        z-index: 2;
        top: 29px;
        right: 15px;
        bottom: 28px;
        left: 14px;
    }
.hire-me__card .icon-background .icon-favourite{
        position: absolute;
        z-index: 2;
        top: 25px;
        right: 24px;
        bottom: 25px;
        left: 24px;
    }


.hire-me__card h3 {
    color: #222;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; /* 150% */
    margin: 51px 0 12px 0;
}

.hire-me__card p {
    width: 240px;
    color: rgba(34, 34, 34, 0.50);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
/*----------------------------------portfolio-section--------------------------------*/
.portfolio{
width: 100%;
    padding-left:150px;
}
.portfolio h2{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 64px;
}
.portfolio .portfolio-gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,310px);
    grid-template-rows: repeat(2,300px);
    grid-gap: 25px;
}
/*------------------------------------feedback-section------------------------------------*/
.feedback{
    width: 100%;
    background: #FF7315;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 111px;
    padding: 48px 0 185px 0;
}
.feedback .feedback__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}
.feedback h2{
    width: 609px;
    color: #F9F9F9;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px; /* 125% */
}
.feedback p{
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #222;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 24px 55px 47px 55px;
}
/*------------------------------------------price-section---------------------------------------------------*/
.price-plans{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}
.price-plans h2{
    color:#222;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
}
.price-plans__cards{
    display: flex;
    gap: 67px;
}
.price-plans .price-plans__cards .tariff-card{
    width:335px ;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);

}
.price-plans .price-plans__cards .tariff-card .tariff-name{
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.price-plans .price-plans__cards .tariff-card .tariff-name h3 {
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 600;
    line-height: 123.6%; /* 29.664px */
    text-transform: capitalize;
}
.price-plans .price-plans__cards .tariff-card .tariff-price{
    color:#2B2B2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%; /* 39.552px */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 29px;
}
.price-plans .price-plans__cards .tariff-card .tariff-price span{
    color:#2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-left: 14px;
}
.price-plans .price-plans__cards .tariff-card .services{
    margin: 0 0 24px 48px;
}
.price-plans .price-plans__cards .tariff-card .services li{
    display: flex;
    align-items: center;
    color:#222;
    gap: 16px;
    margin-top: 16px;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
}
.price-plans .price-plans__cards .tariff-card .services .icon-close{
    color: #a7a7a7;
}
.price-plans .price-plans__cards .tariff-card .services .icon{
    width: 25px;
    height: 24px;
}
/*----------------------------------email-me-section-----------------------------------*/
.email-me{
    width: 1110px;
    height: 224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 75px;
    border-radius: 25px;
    background:#FF7315;
}
.email-me h4{
    width: 343px;
    color:#F9F9F9;
    font-size: 36px;
    font-weight: 600;
    line-height: 62px; /* 172.222% */
}
.email-me button{
    color:#222;
    font-size: 24px;
    font-weight: 600;
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background:#F9F9F9;
    box-shadow: 0 0.927px 1.924px 0 rgba(0, 0, 0, 0.01);
    border: none;
}
/*-----------------------------------------blog-section----------------------------*/
.blog h2{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
}
.blog .blog__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}
.blog .blog__cards .blog__card{
    height: 364px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px 57px 15px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
}
.blog .blog__cards .blog__card a{
    display: none;
}
.blog .blog__cards .blog__card img{
    width: 240px;
    height: 166px;
    margin-bottom: 24px;
    border-radius: 15px;
}
.blog .blog__cards .blog__card h5{
    color:#222;
    font-size: 16px;
    font-weight: 500;
    line-height: 123.6%; /* 19.776px */
    text-transform: capitalize;
}
.blog .blog__cards .blog__card p{
    width: 240px;
    height: 70px;
    padding-top: 12px;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px; /* 200% */
    text-transform: capitalize;
}
/*-------------------------------footer------------------------------------------------------*/
footer{
    width: 100%;
    height: 170px;
    background: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footer-w375{
    display: none;
}
footer p{
    color:#222;
    font-size: 18px;
    font-weight: 500;
}
footer p span{
    display: none;
}